.container {
  display: flex;
}

button {
  background-color: #2663a7;
  width: 320px;
  height: 62px;
  color: white;
  font-weight: 900;
  font-size: 18px;
}

button:hover {
  background-color: #214b7a;
  border-radius: 10px;
  color: lightgrey;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
  transition: all 0.23s ease-in-out;
}

.display-block-center {
  display: block;
  margin: 1rem auto;
}

.scan-fingerprint,
.view-section {
  margin: 5rem 0 0 0;
  text-align: center;
  color: #353535;
}
/* First Responder */

.scan-fingerprint h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
}

.scan-fingerprint p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e7e;
}

.scan-fingerprint img {
  margin: 3rem 0 3rem 0;
}

/* Receptionist */

.register-details {
  padding-top: 1rem;
  width: 547px;
  height: 745px;
  background: #ffffff;
  border-radius: 20px;
  margin: 0 auto;
}

.register-details h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
}

.register-details form input {
  display: block;
  margin: 1rem auto;
  width: 459px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid #f4f4f5;
  padding-left: 1rem;
  color: #a3a0a1;
}

.register-details form input:focus {
  outline: 2px solid #9cb4ce;
  border: none;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 459px;
  height: 50px;
  align-items: center;
  margin: 1rem auto;
  gap: 20px;
}

.two-columns select {
  height: 50px;
  border-radius: 6px;
  background-color: white;
  width: 135px;
  padding: 0 2rem 0 2rem;
}

.image-upload {
  padding: 0.75rem;
  width: 241px !important;
  margin: 0 2.6rem !important;
}

.image-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.image-upload::before {
  content: "Add Photo (Optional) +";
  cursor: pointer;
}

.fingerprint-registering {
  background-color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  width: 450px;
  margin: 3rem auto;
  color: #a3a0a1;
  height: 500px;
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
